$light-green : #73d56f;
$light-green-opacity: #72d56fc1;
$medium-green : #55c57a;
$dark-green : #28b485;
$dark-green-opacity : #28b485b3;
$font-family: 'Lato',
sans-serif;
$gap : 3%;
$page-bg : rgb(248, 246, 246);



@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    padding: 2rem;
    position: relative;
}

.header {
    background-image: linear-gradient(to right bottom, #72d56fb7, #28b485b5), url(../images/hero.jpg);

    background-size: cover;
    background-position: top;
    height: 85vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &-logo {
        width: 4rem;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
    }

    .text-box {
        position: absolute;
        left: 50%;
        top: 40%;
        color: white;
        text-transform: uppercase;
        transform: translate(-50%, -50%);

        .heading {
            text-align: center;
            font-family: $font-family;

            &-primary {
                &-main {
                    display: block;
                    letter-spacing: 2.5rem;
                    font-size: 3.3rem;
                    line-height: 6rem;
                }

                &-sub {
                    display: block;
                    font-size: 1.1rem;
                    letter-spacing: 0.9rem;
                    line-height: 1.5rem;
                    margin-bottom: 3rem;
                }
            }

            &-btn {
                padding: 0.5rem 1rem;
                margin: 0 auto;
                display: block;
                font-family: $font-family;
                border: 1px solid white;
                font-size: 1.1rem;
                border-radius: 1rem;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    transform: translateY(-0.3rem);
                    box-shadow: 0.25rem 0.35rem 0.5rem rgba(0, 0, 0, 0.752);
                    border: 1px solid white;
                }

                &:active {
                    transform: translateY(0);
                    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.752);
                    border: 1px solid white;
                }

            }
        }
    }
}

.about {
    background: rgb(248, 246, 246);
    padding: 30vh 10vh 25vh 10vh;
    margin-top: -25vh;


    &-heading {
        text-align: center;
        background: linear-gradient(to right bottom, $light-green, $dark-green);
        -webkit-background-clip: text;
        color: transparent;
        text-transform: uppercase;
        margin: 1.7rem 0 4.4rem 0;
        font-family: $font-family;

        transition: all 0.2s;

        &:hover {
            transform: scale(1.13);
        }
    }

    &-row {
        padding: 1rem;

        @include clearfix;

        &-col-1of2 {
            width: calc((100% - #{$gap})/2);
            float: left;


        }
    }

    &-textbox {

        font-family: $font-family;
        padding: 0 2rem;

        &-heading {
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-size: 0.9rem;
            color: rgba(0, 0, 0, 0.73);

        }

        &-para {
            line-height: 2rem;
            margin-bottom: 2rem;
            font-size: 0.8rem;
            color: rgba(0, 0, 0, 0.73);
        }

        &-btn {
            margin: 1rem 0;
            padding: 0.4rem;
            border: 0;
            font-size: 1rem;
            letter-spacing: 0.07rem;
            background: rgb(248, 246, 246);
            border-bottom: 1px solid $dark-green;
            color: $light-green;
            font-weight: bold;
            font-family: $font-family;
            cursor: pointer;
            transition: all 0.2s;


            &:hover {
                background-color: $medium-green;
                color: white;
                transform: translateY(-0.12rem);
                box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.658);

            }

            &:active {
                background-color: $medium-green;
                color: white;
                transform: translateY(0rem);
                box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.658);

            }
        }
    }

    &-imgbox {
        position: relative;
        left: 4rem;


        &-cmn {
            width: 17rem;
            position: absolute;
            transition: all 0.2s;
            outline-offset: 0.6rem;
            box-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.486);

            &:hover {

                transform: scale(1.2);
                outline: 0.5rem solid $medium-green;
                z-index: 3;
                box-shadow: 0rem 0rem 0rem;
            }


        }



        &-1 {
            top: 0;
            left: 0;

        }

        &-2 {
            top: 7rem;
            left: 6rem;
            z-index: 2;
        }

        &-3 {
            z-index: 1;
            top: 2rem;
            left: 12rem;
        }
    }


}

.section {
    background: linear-gradient(to right bottom, $light-green-opacity, $dark-green-opacity), url(../images/nat-4.jpg);
    background-size: cover;
    background-position: top;
    padding: 1rem 3rem 4rem 3rem;
    transform: skewY(-2.9deg);
    margin-top: -2.8rem;

    .row {
        @include clearfix;
        padding: 13rem 7rem 8rem 9rem;
        transform: skewY(2.9deg);

        &-1of4 {
            width: calc((100% - #{$gap}*3)/4);
            background-color: rgba($color: white, $alpha: 0.8);
            float: left;
            text-align: center;
            padding: 2rem 0.5rem;
            color: rgba(0, 0, 0, 0.73);
            border-radius: 0.6rem;
            transition: all 0.2s;
            box-shadow: 0.2rem 0.4rem 0.5rem rgba(0, 0, 0, 0.5);

            &:hover {
                transform: translateY(-1rem) scale(1.02);
            }


            &:not(:last-child) {
                margin-right: $gap;
            }
        }

        &-icon {
            font-size: 4rem;
            display: inline-block;
            margin: 0.7rem 0;
            background: linear-gradient(to right bottom, $light-green, $dark-green);
            -webkit-background-clip: text;
            color: transparent;
        }

        &-heading {
            font-family: $font-family;
            margin: 1rem 0.5rem;
            text-transform: uppercase;



        }

        &-para {
            font-family: $font-family;
            line-height: 1.7rem;
        }
    }
}

.pricing {

    margin-top: -2.3rem;
    padding-top: 7.4rem;
    background: $page-bg;

    &-heading {
        text-align: center;
        background: linear-gradient(to right bottom, $light-green, $dark-green);
        -webkit-background-clip: text;
        color: transparent;
        text-transform: uppercase;
        font-family: $font-family;

        transition: all 0.2s;

        &:hover {
            transform: scale(1.13);
        }
    }

    &-row {
        position: relative;
        @include clearfix;
        padding-bottom: 10rem;

        &-clm {
            width: calc((100% - #{$gap}*2)/3);
            float: left;
            height: calc((100% - #{$gap}*2)/3);

        }
    }

}

.card {
    perspective: 150rem;
    width: 15rem;
    height: 35em;
    transition: all 0.8s ease;
    position: relative;
    display: block;
    margin: 0 auto;


    &-cmn {
        position: absolute;
        top: 20%;
        left: 20%;
        box-shadow: 0.2rem 0.5rem 0.5rem rgba($color: #000000, $alpha: 0.5);
        transform: translate(-50%, -50%);
        transition: all 0.9s;
        height: 29rem;
        text-align: center;
        border-radius: 0.5rem;
        width: 15rem;
        backface-visibility: hidden;
    }

    &-frnt {
        transform: rotateY(0);
        background: white;
        overflow: hidden;

        &-img-cmn {
            background-size: cover;
            background-position: top;
            height: 45%;
            border-radius: 0.5rem 0.5rem 0 0;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }

        &-img-1 {
            background-image: linear-gradient(to right, rgba(236, 157, 10, 0.323), rgba(255, 166, 0, 0.489)), url(../images/nat-5.jpg);
        }

        &-img-2 {
            background-image: linear-gradient(to right bottom, #8ce589b7, #48c299b5), url(../images/nat-6.jpg);
        }

        &-img-3 {
            background-image: linear-gradient(to right bottom, rgba(95, 95, 233, 0.4), rgba(81, 81, 240, 0.622), #28b485b5), url(../images/nat-7.jpg);
        }

        &-heading-cmn {
            text-transform: uppercase;
            position: absolute;
            top: 6.3rem;
            left: 6rem;
            font-size: 1.3rem;
        }

        &-heading-1 {
            background: linear-gradient(to right, rgba(236, 157, 10, 0.823), rgba(255, 166, 0, 0.889));
        }

        &-heading-2 {
            background: linear-gradient(to right bottom, #69db65b7, #21cc93b5);
        }

        &-heading-3 {
            background: linear-gradient(to right bottom, rgba(66, 66, 232, 0.8), rgba(48, 48, 241, 0.822));

            left: 4rem;
        }

        ul {
            list-style: none;
            padding: 1rem 3rem;

            li {
                font-family: $font-family;
                padding: 0.6rem;

            }

            li:not(:last-child) {
                border-bottom: 1px solid rgba(138, 137, 137, 0.226);

            }
        }

    }

    &-bck {
        transform: rotateY(-180deg);
        text-align: center;
        color: white;

        &-textbox {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            p {
                margin: 3rem;
                font-size: 1.5rem;
                font-family: $font-family;
            }

            h3 {
                margin: 2rem;
                font-size: 3rem;
                font-family: $font-family;
                font-weight: 100;
            }

            button {
                margin: 2rem;
                padding: 1rem;
                width: 7rem;
                background-color: white;
                border: 1px solid white;
                border-radius: 1rem;
                font-family: $font-family;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    transform: translateY(-0.2rem);
                    box-shadow: 0.2rem 0.2rem 0.5rem rgba($color: #000000, $alpha: 0.5);
                }

                &:active {
                    transform: translateY(0);
                    box-shadow: 0.1rem 0.1rem 0.5rem rgba($color: #000000, $alpha: 0.5);
                }
            }
        }


    }

    &-bck-1 {

        background: linear-gradient(to right bottom, rgba(243, 160, 6, 0.423), rgba(255, 166, 0, 0.889));
    }

    &-bck-2 {

        background: linear-gradient(to right bottom, #7be277b7, #35dba4b5);
    }

    &-bck-3 {

        background: linear-gradient(to right bottom, rgba(66, 66, 232, 0.4), rgba(48, 48, 241, 0.822));
    }

    &:hover &-frnt {
        transform: rotateY(180deg);
    }

    &:hover &-bck {
        transform: rotateY(0);
    }
}